Repository Layr-Labs/eigensdk-rs, pull requests merged in 2025-03, with the labels that each got.

#377 test: add missing test for query_existing_registered_operator_pub_keys
  crates/chainio/clients/avsregistry/src/reader.rs
Labels: changelog-ignore

#383 Reflect 2 bindings(rewardsv2 and slashing) in readme
  CHANGELOG.md
  README.md
Labels: changelog-documentation

#386 test: add test for deregister_from_operator_sets
  crates/chainio/clients/elcontracts/src/writer.rs
Labels: changelog-ignore

#389 docs: rewrite `bls_agg` refactor entry in changelog
  CHANGELOG.md
Labels: changelog-ignore

#390 refactor: rewrite signature processing
  CHANGELOG.md
  crates/services/bls_aggregation/src/bls_agg.rs
  crates/types/Cargo.toml
  crates/types/src/avs.rs
Labels: changelog-breaking

#392 refactor: simplify the logic of `loop_task_aggregator`
  CHANGELOG.md
  crates/services/bls_aggregation/src/bls_agg.rs
  crates/services/bls_aggregation/src/bls_aggregation_service_error.rs
Labels: changelog-breaking

#397 chore: release 0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: changelog-ignore

#400 test: check quorum creation after service initialization is working
  crates/services/bls_aggregation/src/bls_agg.rs
  crates/services/bls_aggregation/src/bls_agg_test.rs
Labels: changelog-ignore

#403 refactor: remove `unwrap` and use `Arc::mutex` in `NodeAPI`
  crates/nodeapi/src/lib.rs
Labels: changelog-ignore
