Repository Layr-Labs/eigensdk-rs, pull requests merged in 2025-02, with the labels that each got.

#269 feat: add bindings for `ECDSAStakeRegistry` and `ECDSAServiceManagerBase`
  CHANGELOG.md
  Makefile
  crates/chainio/clients/fireblocks/src/contract_call.rs
  crates/utils/src/middleware/ecdsaservicemanagerbase.rs
  crates/utils/src/middleware/ecdsastakeregistry.rs
  crates/utils/src/middleware/mod.rs
Labels: changelog-added

#252 ci: fix job that checks anvil state is up-to-date
  .github/workflows/check-anvil-dump.yml
  .github/workflows/integration.yml
Labels: changelog-ignore

#275 feat: add release-plz
  .github/workflows/release-plz.yml
  CHANGELOG.md
Labels: changelog-added

#271 refactor: move bindings generation to script
  Makefile
  scripts/generate_bindings.sh
Labels: changelog-ignore

#266 remove homepage from testing-utils
  CHANGELOG.md
  testing/testing-utils/Cargo.toml
Labels: changelog-fixed

#281 release-plz custom configuration
  CHANGELOG.md
  release-plz.toml
Labels: changelog-added, changelog-removed

#284 fix:typo in release-plz package
  CHANGELOG.md
  release-plz.toml
Labels: changelog-fixed

#287 remove examples from workspace.dependencies in Cargo.toml
  CHANGELOG.md
  Cargo.toml
  release-plz.toml
Labels: changelog-fixed

#249 feat: add common feature to eigensdk's full
  CHANGELOG.md
  crates/eigensdk/Cargo.toml
Labels: changelog-added

#282 fix: simplify Cargo.toml
  Cargo.toml
Labels: changelog-ignore

#292 Removed release-plz-pr workflow in release-plz
  .github/workflows/release-plz.yml
  CHANGELOG.md
Labels: changelog-removed, changelog-fixed

#286 ci: split tests and coverage
  .github/workflows/integration.yml
Labels: changelog-ignore

#251 docs: improve changelog by adding examples
  CHANGELOG.md
Labels: changelog-ignore

#250 fix: use rewards coordinator in get split functions
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/writer.rs
  crates/chainio/clients/elcontracts/src/reader.rs
  crates/chainio/clients/elcontracts/src/writer.rs
  crates/services/bls_aggregation/src/bls_agg_test.rs
  crates/services/operatorsinfo/src/operatorsinfo_inmemory.rs
  examples/avsregistry-write/examples/register_operator_in_quorum_with_avs_registry_coordinator.rs
  examples/info-operator-service/examples/get_operator_info.rs
Labels: changelog-breaking

#308 revert back to 0.1.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: changelog-ignore

#309 chore: release 0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: changelog-ignore, release

#318 docs: update v0.2 changelog with examples
  CHANGELOG.md
Labels: changelog-ignore

#305 chore: merge `main` to `dev`
  .github/workflows/integration.yml
  .github/workflows/release-plz.yml
  CHANGELOG.md
  Cargo.toml
  crates/chainio/clients/avsregistry/src/writer.rs
  crates/chainio/clients/elcontracts/src/reader.rs
  crates/eigensdk/Cargo.toml
  release-plz.toml
  testing/testing-utils/Cargo.toml
Labels: changelog-ignore

#268 feat: add update socket function
  CHANGELOG.md
  Cargo.lock
  crates/chainio/clients/avsregistry/Cargo.toml
  crates/chainio/clients/avsregistry/src/writer.rs
Labels: changelog-added

#254 refactor: `bls_aggr` encapsulate task initialization params in `TaskMetadata`
  CHANGELOG.md
  crates/services/bls_aggregation/src/bls_agg.rs
  crates/services/bls_aggregation/src/bls_agg_test.rs
Labels: changelog-breaking

#322 add version explicitly in crates
  CHANGELOG.md
  Cargo.toml
Labels: changelog-added

#306 fix: change provider value used by avs_reader in tests
  crates/chainio/clients/avsregistry/src/reader.rs
Labels: changelog-ignore

#332 refactor: remove dead code in `AvsRegistryChainWriter`
  crates/chainio/clients/avsregistry/src/fake_reader.rs
  crates/chainio/clients/avsregistry/src/lib.rs
  crates/chainio/clients/avsregistry/src/writer.rs
Labels: changelog-ignore

#331 refactor: move anvil account constants to testing utils module
  Cargo.lock
  crates/chainio/clients/avsregistry/src/lib.rs
  crates/chainio/clients/avsregistry/src/writer.rs
  crates/chainio/clients/elcontracts/src/lib.rs
  crates/chainio/clients/elcontracts/src/writer.rs
  testing/testing-utils/src/anvil_constants.rs
Labels: changelog-ignore

#329 feat: implement `setAccountIdentifier` wrapper function
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/writer.rs
Labels: changelog-added

#328 feat: new method `eject_operator` in `avsregistry/writer`
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/lib.rs
  crates/chainio/clients/avsregistry/src/writer.rs
Labels: changelog-added

#346 chore: release 0.3.0
  .github/workflows/release-plz.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  release-plz.toml
Labels: changelog-ignore

#351 chore:release 0.3.0
  .github/workflows/release-plz.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  release-plz.toml
Labels: changelog-ignore, release

#347 feat: Implement missing stake registry view functions
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/lib.rs
  crates/chainio/clients/avsregistry/src/reader.rs
  crates/chainio/clients/avsregistry/src/writer.rs
  testing/testing-utils/src/anvil_constants.rs
Labels: changelog-added

#330 feat: implement new method `set_ejector`
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/writer.rs
Labels: changelog-added

#290 fix: missing block while waiting for operator state history
  CHANGELOG.md
  crates/services/operatorsinfo/src/operatorsinfo_inmemory.rs
Labels: changelog-fixed

#343 feat: implement stake registry write methods
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/writer.rs
  crates/utils/src/lib.rs
Labels: changelog-added

#344 feat: update_avs_metadata_uri in AVS registry
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/writer.rs
Labels: changelog-added

#338 fix: `avsregistry/reader` tests
  crates/chainio/clients/avsregistry/src/lib.rs
  crates/chainio/clients/avsregistry/src/reader.rs
Labels: changelog-ignore

#356 fix: `make start-anvil` wasn't working
  Makefile
  crates/operator_sets_contracts/anvil/start-anvil-chain-with-el-and-avs-deployed.sh
  crates/operator_sets_contracts/anvil/utils.sh
Labels: changelog-ignore

#357 refactor: reduce code duplication in anvil utils
  CHANGELOG.md
  crates/chainio/clients/elcontracts/src/writer.rs
  crates/chainio/clients/eth/src/instrumented_client.rs
  crates/services/bls_aggregation/src/bls_agg_test.rs
  examples/info-operator-service/examples/get_operator_info.rs
  testing/testing-utils/src/anvil.rs
Labels: changelog-breaking

#362 TaskMetadata.task_created_block field changed to u64
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/fake_reader.rs
  crates/chainio/clients/avsregistry/src/reader.rs
  crates/services/avsregistry/src/chaincaller.rs
  crates/services/avsregistry/src/fake_avs_registry_service.rs
  crates/services/avsregistry/src/lib.rs
  crates/services/bls_aggregation/src/bls_agg.rs
  crates/types/src/operator.rs
Labels: changelog-breaking

#364 add set_signer method in Writer methods
  CHANGELOG.md
  crates/chainio/clients/avsregistry/src/writer.rs
  crates/chainio/clients/elcontracts/src/writer.rs
Labels: changelog-added

#280 feat: Operator methods missing, form Go SDK
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/chainio/clients/avsregistry/src/writer.rs
  crates/chainio/clients/elcontracts/src/writer.rs
  crates/crypto/bls/src/error.rs
  crates/services/avsregistry/src/chaincaller.rs
  crates/services/avsregistry/src/fake_avs_registry_service.rs
  crates/services/avsregistry/src/lib.rs
  crates/services/bls_aggregation/src/bls_agg.rs
  crates/services/bls_aggregation/src/bls_agg_test.rs
  crates/services/operatorsinfo/src/operatorsinfo_inmemory.rs
  crates/types/Cargo.toml
  crates/types/src/avs_state.rs
  crates/types/src/lib.rs
  crates/types/src/operator.rs
  crates/types/src/operator_metadata.rs
  crates/types/src/operator_pubkeys.rs
  crates/utils/Cargo.toml
  crates/utils/src/common.rs
  crates/utils/src/lib.rs
  examples/avsregistry-write/examples/register_operator_in_quorum_with_avs_registry_coordinator.rs
  examples/info-operator-service/examples/get_operator_info.rs
Labels: changelog-added

#366 feat: Add register_as_operator_preslashing method
  CHANGELOG.md
  crates/chainio/clients/elcontracts/src/error.rs
  crates/chainio/clients/elcontracts/src/lib.rs
  crates/chainio/clients/elcontracts/src/writer.rs
  crates/services/operatorsinfo/src/operatorsinfo_inmemory.rs
  crates/types/src/operator.rs
  examples/avsregistry-write/examples/register_operator_in_quorum_with_avs_registry_coordinator.rs
  examples/info-operator-service/examples/get_operator_info.rs
Labels: changelog-added, changelog-fixed

#367 chore: release 0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: changelog-ignore

#374 docs: remove foundry docker platform error mention mention
  Makefile
  README.md
  crates/m2_contracts/anvil/utils.sh
  crates/operator_sets_contracts/anvil/utils.sh
Labels: changelog-ignore

#371 chore: delete unused empty structs
  CHANGELOG.md
  crates/chainio/clients/elcontracts/src/writer.rs
  crates/chainio/clients/eth/src/client.rs
  crates/services/operatorsinfo/src/lib.rs
Labels: changelog-removed
